<!DOCTYPE html>
<html>
<head>
    <title>Check Interfaces</title>
</head>
<body>
    <h1>SSH Interface Checker</h1>
    <form action="/check" method="post">
        <label for="hostname">Switch IP Address:</label><br>
        <input type="text" id="hostname" name="hostname" required><br><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Check Interfaces">
    </form>
</body>
</html>
